<div class="page-container">
  <div class="page-title">
    <h1> Vneuron Kanban Boards Application</h1>
  </div>
  <div>
    <button mat-raised-button (click)="openDialogForNewKanban()">+ Create Kanban</button>
  </div>
  
  <div class="main-card">
    <mat-nav-list>
      <a mat-list-item *ngFor="let kanban of kanbanList" routerLink="/kanbans/{{kanban.id}}"> 
        <p class="kanban-title">{{kanban.title}}</p>
      </a>
    </mat-nav-list>
  </div>
</div>

